<div class="flex justify-center items-center self-stretch p-16">
  <nav class="place-items-center fixed bottom-0 w-full p-4 bg-sky-500 box-border">
    <div class="flex flex-wrap justify-center place-self-center gap-4">
      <button routerLink="mainportal">Portfolio</button>
      <button *ngIf="configService.isLoggedIn()" routerLink="mgmt"> Project Managment </button>
      <button routerLink="cookies">Cookies</button>
      <button routerLink="login">Login</button>
      <button *ngIf="configService.isLoggedIn()" (click)="configService.logout()">LogOut</button>
      <div> <div class="animate-pulse"> 👻 </div></div>
   </div>
  </nav>
</div>
