<!--  TODO: Use .ico instead of emoji? -->
<app-container-block title="I am a Developer 💻 ">
  <div class="py-4">
    Hello, I am a Junior Software Engineer
    </div>
    <div>
      This is my Website for managing my Projects and get finally on track with my Brain and achievements that I want to do the next few years.
      So here is the List of my running Projects and Learnings:
    </div>
  <div class="grid pt-4">
    <div class="flex">
      <app-project-card/>
    </div>
  </div>
</app-container-block>
