<!--TODO: Ideas for MainPortal-->
<!--  TODO: Use .ico instead of emoji? -->
  <h2 class="grid text-center"> I am a Developer 💻 </h2>
  <div class="py-4">
    Hello, I am a Junior Software Engineer
  </div>
  <div>
    This is my Website for managing my Projects and get finally on track with my Brain and achievements that I want to do the next few years.
    So here is the List of my running Projects and Learnings:
  </div>
  <div class="block">
    <app-project-card/>
    <app-project-card/>
  </div>
