.container{
  font-family: Bahnschrift, sans-serif;
  background-color: var(--primary-100)  ;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.center{
  display: grid;
  place-items: center;
  margin-bottom: 50px;
}
