<!--TODO: Ideas for MainPortal-->
<div class="container">
<!--  TODO: Use .ico instead of emoji? -->
  <h2 class="center"> I am a Developer 💻 </h2>
<!--  TODO: Think of a better Text, because Techfluencer are "cringe" ;c AND STYLE THIS UP-->
  <p>
    Hello, I am a Junior Developer which testing UI-Design and Frontend Logic. This will be the First Page you see, once you Logged in.
  </p>
  <div>
    I am Lucas a Junior Fullstack Developer at the Moment employed at a big Communication Company and still learning all parts of modern "Software Engineering". This includes:
    <p> DevOps with Kubernetes, Grafana, CI/CD </p>
    <p> Backend with Spring-Boot Java, Python, GoGin </p>
    <p> Frontend with Html, Css, JavaScript and Angular, Vue </p>
  </div>
  <div>
    AND I always take part in interesting new Technologies like Languages, Frameworks, Network Communication and Virtual Environments.
  </div>

</div>
