<div class="basebob">
  Management of Projects and Services, here you can create, modify and delete Projects in the Database
</div>

<!-- TODO: This css style is used in multiple components, abstract this container in new component --->
  <app-container-block title="Create New Service">
    <form class="flex">
      <div [formGroup]="serviceForm" class="grid gap-4 w-2/4 p-4">
        <input type=text placeholder="Service Name">
        <input type=text placeholder="Service Type">
        <input type=text placeholder="Service Languages">
      </div>
      <div class="grid gap-4 w-1/2 p-4">
        <div class="h-1/2 border-gray-500 border-dashed border-2 place-content-center text-center"> Insert Representativ Picture ;) </div>
      </div>
    </form>
  </app-container-block>

<app-container-block title="Create New Project">
  <form>
    <div [formGroup]="projectForm" class="grid gap-4 w-2/4 p-4">
      --PlaceHolder--
    </div>
  </form>
</app-container-block>
