<app-container-block title="Project Managemnet Creation">
  <div> Information xxx, Connection-Status, Api Avaliable </div>
</app-container-block>

<div class="flex flex-wrap justify-center">
    <app-container-block title="Placeholder Container" class="w-1/2 h-full items-stretch text-center">
      Description
      <div class="mt-4"> This is a Placeholder for next Ideads I want to place here! </div>
    </app-container-block>


  <app-container-block class="flex flex-wrap justify-center " title="Create New Project">
    <div class="flex justify-center">
      <form>
        <div [formGroup]="projectForm" class="grid gap-4 p-4"> PlaceHolder </div>
      </form>
    </div>
    <button class="flex justify-center">Create New Project</button>

    <app-container-block title="Create New Service">
      <form [formGroup]="serviceForm" class="flex flex-wrap">
        <div class="grid gap-4 w-1/2 p-4">
          <input type=text placeholder="Service Name">
          <input type=text placeholder="Service Type">
          <input type=text placeholder="Service Languages">
        </div>
      </form>
      <button class="flex justify-center"> Create New Service </button>
    </app-container-block>
  </app-container-block>
</div>

