.center{
  display: grid;
  place-items: center;
}

.navbar{
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 0;
}

#navbar-items{
  display: flex;
  place-self: center;
  gap: 20px;
}

