<div class="pt-8 bg-sky-400 shadow-lg">
  <div class="flex items-center justify-center font-bold text-4xl pb-7 shadow-lg shadow-yellow-500"> {{title}} </div>
  <div class="p-4 bg-sky-300 w-full">
  <div class="inline-flex">
      <div *ngIf=configService.isLoggedIn() class="font-bold"> {{configService.getStoredUserData().username}} </div>
      <div *ngIf=configService.isLoggedIn() class="font-bold"> Permissions: {{configService.getStoredUserData().Permissions}} </div>
  </div>
  </div>
</div>
<div class="">
  <router-outlet/>
<div>

<app-navibar/>
