@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: 'Jersey';
    src: url(assets/Jersey10-Regular.ttf) format('ttf');
  }
  @font-face{
    font-family: 'Anton';
    src: url(assets/Anton-Regular.ttf) format('ttf');
  }
}



 /* CSS */
button {
  padding: 0.25rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background: rgb(12, 74, 110);
  border: black 2px solid;
  border-radius: 1rem;
  font-family: Bahnschrift;
  color: whitesmoke;
}


button:hover {
  background-color: rgb(7, 89, 133);
  transform: scale(0.95);
}

button:active {
  transform: scale(0.9);
}

.basebob{
  font-family: Bahnschrift, sans-serif;
  border: 0.25rem solid rgb(224, 242, 254);
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}
